<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()"  fill="clear" color="black">
        <ion-icon name="arrow-back-outline"></ion-icon>      
      </ion-button>
    </ion-buttons>  
    <h4>ทักษะนี้เพื่อชีวิต</h4>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src="assets/image/s2c21.jpg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/image/s2c22.jpg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/image/s2c23.jpg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/image/s2c24.jpg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/image/s2c25.jpg">
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/image/s2c26.jpg">
      </ion-card>
    </ion-slide>
</ion-slides>

<ion-img  src="assets/icon/target.png"></ion-img>
  <!--<ion-img class="c" src="assets/icon/dollar.png"></ion-img>-->
  <ion-text class="amount">
    100,000 บาท 
    <div class="a">เป้าหมายในการบริจาค</div>
  </ion-text>
  <br>
  <ion-list *ngIf="items"  class=" ion-padding" >
    <ion-item-sliding *ngFor="let item of items | async">
      <ion-progress-bar [value]="item.note.s2c2/100"></ion-progress-bar>
    </ion-item-sliding>
  </ion-list>
  <ion-card class="ion-padding">
      <ion-text class="ion-padding">
    ขอเชิญร่วมบริจาคสนับสนุนโครงการ “ทักษะนี้เพื่อชีวิต”โดยโครงการนี้
    จัดทำขึ้นเพื่อสนับสนุนการสร้างเสริม กิจกรรมทักษะการประกอบอาชีพต่างๆ
    ของเด็กและเยาวชน มีการฝึกอบรมเพื่อให้เด็กและเยาวชนมีทักษะในการประกอบอาชีพ 
    และเพื่อนำไปต่อยอดในการประกอบอาชีพในอนาคต เช่น การฝึกทักษะการทำวีดีทัศน์ 
    ทักษะพื้นฐานอาชีพช่างเสริมสวย ทักษะอาชีพช่างตัดผม
</ion-text>
<div align = 'center'><br>
  <ion-button (click)="goTransfer()">ร่วมบริจาค</ion-button>
</div>
</ion-card>
</ion-content>
