<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()"  fill="clear" color="light">
        <ion-icon name="arrow-back-outline"></ion-icon>      
      </ion-button>
    </ion-buttons>  
    <ion-title align="center">เกี่ยวกับเรา</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 align="center">มูลนิธิการศึกษาเพื่อชีวิตและสังคม</h1>
  <ion-text >มุ่งมั่นในการสร้งสรรค์สิ่งที่ดีต่อสังคมและด้วยวัยวุฒิ
    คุณวุฒิ ที่เพิ่มขึ้น ได้บ่มเพาะวุฒิภาวะที่เต็มเปี่ยมไปด้วยสายตา
    อันยาวไกล ในอันที่จะขับเคลื่อนมูลนิธิ และส่วนที่เกี่ยวข้อง
    ไปสู่การอยู่ร่วมกันของผู้คน ในสังคมที่งดงาม เท่าที่มนุษย์พึงมี</ion-text>

    <img src="assets/icon/logo.png"> <br>

    <ion-text>ที่ตั้ง เลขที่ 47 หมู่บ้านพหลโยธินกอล์ฟ ถนนพหลโยธิน ซอย 19/1 
    แขวงลาดยาว เขตจตุจักร กรุงเทพ 10900 <br>
    <br>
    โทรศัพท์มือถือ: 089-895-1306 <br>
    โทรศัพท์สำนักงาน: 02-513-3038, 02-513-3932 <br>
    โทรสาร: 02-513-4408 <br>
    <br>
    E-mail: harry_durance@yahoo.com<br>
    website:www.elsthai.org<br>
    line ID: els_thai
    </ion-text>
</ion-content>
