<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
<style>
  .font {
    font-family: 'Kanit', sans-serif;
  }
</style>
<ion-header>
  <ion-toolbar align="center">
    <ion-buttons slot="start">
      <ion-button (click)="goback()" fill="clear" color="light">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    แก้ไขข้อมูล
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <form class="form" [formGroup]="user">
    <svg class="back-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
      <path fill="#8295A3" d="M68.6,-33.5C81.6,-17.2,79.6,13.8,65.7,37.6C51.8,61.3,25.9,77.8,2.1
    ,76.6C-21.7,75.4,-43.5,56.5,-54.2,34.6C-65,12.7,-64.8,-12.3,-53.9,-27.4C-43,-42.4,-21.5,-47.6
    ,3.2,-49.4C27.9,-51.2,55.7,-49.7,68.6,-33.5Z" transform="translate(100 100)" />
    </svg>
    <img style="height: 200 ;" src="assets/image/edited.png">

    <!--ช่อง ชื่อ-นามสกุล-->
    <div class="wrap-input">
      <ion-input class="input" #Rname type="text" formControlName="Cname" placeholder=" ชื่อ-นามสกุล" value="">
      </ion-input>
    </div>

    <!--ช่อง วันเกิด-->
    <div class="wrap-input">
      <ion-datetime class="input" #Rbirth  formControlName="Cbirth" displayFormat="DD / MM / YYYY" placeholder="วัน/เดือน/ปีเกิด" value=""></ion-datetime>
    </div>

    <!--ช่อง เบอร์โทรศัพท์-->
    <div class="wrap-input">
      <ion-input class="input" #Rphone type="text" formControlName="Cphone" placeholder=" เบอร์โทรศัพท์" value="">
      </ion-input>
    </div>

    <div align = 'center'>
      <ion-button type="submit" (click)="SentData()" [disabled]="!user.valid">แก้ไขข้อมูล</ion-button>
    </div>
  </form>


</ion-content>